h1,
h2,
h3 {
  font-family: "Rozha One", serif;
  text-transform: lowercase;
}

h5 {
  text-transform: uppercase;
}

h5,
span {
  font-weight: 300;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #393939;
}

html,
body {
  height: 100%;
}

.container {
  min-width: 85%;
}

body {
  margin: 0;
  padding: 0;
  background: #eaeae9;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.navbar {
  background-color: #eaeae9;
  padding: 0;
  margin: 1em 0 1em 0;
}

.navbar__logo {
  width: 7em;
}

.navbar .navbar-nav .nav-link {
  color: #303030;
  font-weight: 300;
  font-size: 1.1em;
}

.navbar .navbar-nav .nav-link.active {
  font-weight: 400;
  color: #303030;
}

.navbar .navbar-toggler {
  background: #3030308a;
}

/* Media Queries */
@media only screen and (max-width: 580px) {
  .navbar .nav-link {
    margin: 0.7em 0 0.7em 0;
  }
  .navbar .nav-link:hover {
    font-weight: 400;
  }
}

@media only screen and (min-width: 580px) and (max-width: 980px) {
  .navbar .nav-link {
    margin: 1em 0 1em 0;
  }
  .navbar .nav-link:hover {
    font-weight: 400;
  }
}

@media only screen and (min-width: 981px) {
  .navbar .nav-link {
    margin-left: 1.5em;
  }
  .navbar .nav-link:hover {
    border-bottom: 1px solid #66646349;
  }
}

.footer {
  border-top: 1px solid #66646349;
}

.footer__row {
  padding: 2em 0 1.5em 0;
}

.footer .logo {
  padding-bottom: 0.5em;
}

.footer a {
  color: #393939;
}

.footer a:hover {
  color: #8fb5cc;
  text-decoration: none;
}

.footer .footer__bottom {
  border-top: 1px solid #66646349;
  padding: 1.2em 0 1.2em;
}

.footer .footer__bottom__dots {
  margin: 0.5em;
}

.footer .footer__bottom__social-media i {
  font-size: 2em;
  margin-left: 1em;
}

/* Media Queries */
@media only screen and (max-width: 580px) {
  .footer {
    text-align: center;
  }
  .footer .logo {
    width: 7.5em;
  }
  .footer__bottom__social-media {
    margin-top: 1em;
  }
  .footer__bottom__social-media i {
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 580px) and (max-width: 980px) {
  .logo {
    width: 8em;
  }
  .footer__bottom__terms,
  .footer__bottom__social-media {
    margin-bottom: 1em;
  }
  .footer__bottom__social-media i {
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 981px) {
  .logo {
    width: 8.5em;
  }
  .footer__bottom__social-media {
    text-align: right;
  }
  .footer__bottom__social-media i {
    font-size: 2em;
  }
}

/* Hero Banner */
.hero-banner {
  background-image: url(../../images/hero.jpg);
  height: 70vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-banner__content h2 {
  color: #ffffff;
  width: 17em;
  text-align: center;
}

/* Search bar */
.search-bar {
  font-size: 14px;
}

.search-bar input {
  display: block;
  margin: 0 auto;
  padding: 0.8em;
  width: 80%;
  border-radius: 3px;
  background: #ffffffd8;
  border: none;
  outline: none;
}

.search-bar__results__list {
  position: absolute;
  width: 80%;
  list-style: none;
  padding: 0.2em 0.2em 0 0.2em;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */