// Colours
$colour-background: #eaeae9;
$colour-accent: #8fb5cc;
$colour-white: #ffffff;
$colour-text: #393939;
$colour-ui-primary: #303030;
$colour-ui-shadow: #3030308a;
$colour-border: #66646349;

// Font
$font-primary: "Rozha One", serif;
$font-secondary: "Work Sans", sans-serif;

// Breakpoints
$mobile-width: 580px;
$tablet-width: 980px;
$desktop-width: 981px;
