// Colours
$colour-background: #EAEAE9;
$colour-accent: #8FB5CC;
$colour-white: #FFFFFF;
$colour-text: #4F4F4F;
$colour-ui-primary: #303030;
$colour-ui-shadow: #3030308a;
$colour-border: #66646349;

// Font
$font-primary: 'Rozha One', serif;
$font-secondary: 'Work Sans', sans-serif;

// Breakpoints
$mobile-width: 580px;
$tablet-width: 980px;
$desktop-width: 981px;
