/* Hero Banner */
.hero-banner {
  background-image: url(../../images/hero.jpg);
  height: 87vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      color: $colour-white;
      text-align: center;
    }
  }
}
/*_____________________*/

/* Search bar */
.search-bar {
  font-size: 0.9em;

  input {
    display: block;
    margin: 0 auto;
    padding: 0.8em;
    border-radius: 3px;
    background: #ffffffd8;
    border: none;
    outline: none;
  }

  &__results {
    z-index: 99;

    &__list {
      position: absolute;
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {
        display: flex;
        align-items: center;
        background: #ffffffe3;
        color: $colour-text;

        img {
          object-fit: cover;
        }

        p {
          margin: 0;
          text-transform: uppercase;
        }

        &:hover {
          filter: brightness(80%);
          color: $colour-text;
          text-decoration: none;
        }
      }
    }
  }
}
/*_____________________*/

/* Home Main */
.home {
  .image-container {
    display: flex;
  }

  &__button {
    display: block;
    padding: 3em 0;
    text-align: center;
    background: $colour-accent;
    color: $colour-text;
    font-size: 2em;
    border-radius: 3px;

    &:hover {
      background: $colour-ui-hover;
      transition: background 0.4s ease-in-out;
      color: $colour-text;
      text-decoration: none;
    }

    &__icon {
      font-size: 0.75em;
      color: $colour-text;
      padding-left: 1em;
    }
  }
}
/*_____________________*/

/* Media Queries */
@media only screen and (max-width: $mobile-width) {
  .hero-banner__content h2,
  .home__button {
    font-size: 1.25em;
  }

  .hero-banner__content {
    min-width: 250px;

    .search-bar {
      input {
        min-width: 250px;
      }

      &__results__list {
        min-width: 250px;

        &__item {
          img {
            width: 6em;
            height: 6em;
          }

          &--info p {
            margin-left: 1em;
            font-size: 1.1em;
          }
        }
      }
    }
  }

  .home {
    margin: 4em auto;

    &__button {
      margin-top: 1.5em;
    }
  }

  .image-container {
    &__inner__img {
      width: 100%;
      height: auto;
      border-radius: 3px;
      margin-top: 2em;
    }

    &__inner--second {
      display: none;
    }
  }
}

@media only screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
  .hero-banner__content h2,
  .home__button {
    font-size: 1.75em;
  }

  .hero-banner__content {
    width: 360px;

    .search-bar {
      input {
        width: 360px;
      }

      &__results__list {
        width: 360px;

        &__item {
          img {
            width: 6em;
            height: 6em;
          }
          &--info p {
            margin-left: 1em;
            font-size: 1.1em;
          }
        }
      }
    }
  }

  .home {
    margin: 4em auto;

    &__button {
      margin-top: 1.5em;
    }
  }

  .image-container {
    &__inner__img {
      width: 100%;
      height: auto;
      border-radius: 3px;
      margin-top: 2em;
    }

    &__inner--second {
      display: none;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .hero-banner__content h2,
  .home__button {
    font-size: 1.8em;
  }

  .hero-banner__content {
    width: 360px;

    .search-bar {
      input {
        width: 360px;
      }

      &__results__list {
        width: 360px;

        &__item {
          img {
            width: 7em;
            height: 7em;
          }

          &--info p {
            margin-left: 1em;
            font-size: 1.1em;
          }
        }
      }
    }
  }

  .home {
    margin: 6em auto;

    &__button {
      margin-top: 3em;
    }
  }

  .image-container {
    &__inner {
      flex: 1;

      &--first {
        margin-top: 10em;
        margin-right: 2em;
      }

      &--second {
        margin-left: 2em;
        margin-top: 2em;
        margin-bottom: 8em;
      }

      &__img {
        width: 100%;
        border-radius: 3px;
      }
    }
  }
}
