html,
body {
  height: 100%;
}

.container {
  min-width: 80%;
  margin: 0 auto;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  background: $colour-background;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}

