/* Navigation Bar */
.navbar {
  background-color: $colour-background;

  &__logo {
    width: 7em;
  }

  .navbar-nav .nav-link {
    color: $colour-ui-primary;
    font-weight: 300;
    font-size: 1.1em;

    &.active {
      font-weight: 400;
      color: $colour-ui-primary;
    }
  }

  .navbar-toggler {
    background: $colour-background;
  }
}
/*_____________________*/

/* Sign Out Button */
.signout-btn {
  color: $colour-text;
  background: none;
  border: none;
  font-size: 1.1em;
  font-weight: 300;

  .icon {
    padding-left: 0.5em;
  }

  &:hover {
    background: $colour-accent;
  }
}
/*_____________________*/

/* Media Queries */
@media only screen and (max-width: $mobile-width) {
  .navbar {
    .nav-link {
      margin: 0.7em 0 0.7em 0;

      &:hover {
        font-weight: 400;
      }
    }
  }
  .signout-btn {
    margin: 1em 0 0.5em 0;
  }
}

@media only screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
  .navbar {
    padding: 0.5em 5em;

    .nav-link {
      padding-bottom: 0.4em;

      &:hover {
        border-bottom: 1px solid $colour-border;
      }
    }
  }

  .logout-btn {
    margin-left: 1em;
  }
}

@media only screen and (min-width: $desktop-width) {
  .navbar {
    padding: 0.6em 5em;

    .nav-link {
      padding-bottom: 0.5em;
      margin-left: 1.5em;

      &:hover {
        border-bottom: 1px solid $colour-border;
      }
    }
  }

  .signout-btn {
    margin-left: 1em;
  }
}

@media only screen and (min-width: $big-desktop-width) {
  .navbar .nav-link {
    padding-bottom: 0.55em;
  }
}
